recursive-include passerelle_imio_ia_delib/static *.css *.png
recursive-include passerelle_imio_ia_delib/templates *.html *.txt
recursive-include passerelle_imio_ia_delib/locale *.po *.mo
include MANIFEST.in
include VERSION
include README
